/*----全局样式----*/
* {
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 100px;
}
body {
  font-size: 16px;
}
/*----dahezi----*/
html,
body,
#wrap {
  width: 100%;
  height: 100%;
}
#wrap {
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/*--------------header-----------------*/
.header {
  width: 100%;
  height: 0.45rem;
  background: #293031;
  /* 	.pos(f);
z-index:999; */
}
.header a {
  width: 0.5rem;
  background: red;
  height: 0.45rem;
  position: absolute;
  z-index: 999;
  top: 0;
}
.header h2 {
  text-align: center;
  line-height: 0.45rem;
  font-size: 0.20rem;
  color: #fff;
}
#back {
  left: 0;
  background: url(../images/back.png) no-repeat;
  background-size: 30% auto;
  background-position: 0.2rem;
}
#tool {
  right: 0.1rem;
  background: url(../images/tool.png) no-repeat;
  background-size: 60% auto;
  background-position: 0.2rem;
}
#jiudianxiangqing {
  -webkit-box-flex: 1;
  padding: 0.2rem 0.1rem 0.2rem 0.24rem;
  background: #f7f3f7;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.jiudianxiangqing1 {
  width: 100%;
  border: 1px solid #b5f342;
  padding: 0.2rem 0.1rem;
  font-size: 0.14rem;
  line-height: 0.2rem;
  font-family: '楷体';
}
.jiudianxiangqing1 .xie {
  width: 0.62rem;
  padding: 0.05rem;
  background: #b5f342;
  text-align: center;
  border-radius: 0.05rem;
  font-family: '楷体';
  color: #fff;
  font-size: 0.12rem;
  -webkit-transform: rotate(-10deg);
  position: fixed;
  left: -3%;
  top: -1%;
}
.showxiangqingjiudian {
  padding-bottom: 0.3rem;
}
#imglist {
  width: 100%;
}
#imglist li {
  width: 100%;
  height: 2rem;
  margin-top: 0.15rem;
}
#imglist li img {
  width: 100%;
  height: 100%;
}
.jiudiandizhi1 {
  width: 100%;
  height: 1rem;
  margin-top: 0.1rem;
  border-radius: 0.2rem;
  border: 0.02rem dashed #b5f342;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
.jiudiandizhi1 h3 {
  color: #ff4984;
  line-height: 0.4rem;
  text-indent: 0.2rem;
}
.jiudiandizhi1 p {
  line-height: 0.2rem;
  text-indent: 0.2rem;
  color: #636563;
}
